*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 100vh
    
}
.player{
	position: relative;
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.player .imgBx {
	position: relative;
    width: 100px;
    height: 350px;
}

.player .imgBx img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%



}


