@keyframes example {
    0% {
        background-color: #CAE9F9;
    
    }
    25% {
        background-color: #ECCFBC;

    }
    50% {
        background-color: #f7e6ff;
    }

    75% {
        background-color: #ffe6e6;
    }

    100% {
        background-color: #CAE9F9;
  }
}

body {
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.wholegroup{
    width: 320px;
    height: 450px;
    background: white;
    color: #686868;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-style: solid;
    border-color: #fff;
    
}


.avatar {
    width: auto;
    height: 50px;
    position: absolute;
    top: -35px;
    left: 80px;
}

p {
    margin: 0;
    padding: 0 0 25px;
    text-align: center;
    font-size: 22px;
}

.header {
    width: 320px;
    height: 70px;
    position: absolute;
    top: -50px;
    left: calc(15% - 50px);
}

.bottom {
    
    width: 320px;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: calc(15% - 50px);
}


.image1 {
    width: 280px;
    height: 250px;
    position: absolute;
    top: 40px;
    align-content: center;
    margin-left: -3.5%;

}

#title{
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	color: #7e7e7e;
	font-size: 15px;
    white-space: nowrap;
}

button:hover {
    cursor: pointer;
}


.buttons{
    margin-top: 220px;
    margin-left: 95px;
    bottom: 5px;
    display: flex;
    justify-content: center;
	border: none;
	height: 70px;
	width: 70px;
	border-radius: 50%;	
    display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: rgba(255,255,255,0.1);
    outline: none;
}


.duration{
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin-top: 40px;
}
.duration p{
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
}

#auto{
	font-size: 18px;
	cursor: pointer;
	margin-top: 45px;
	border: none;
	padding: 10px 14px;
	color: #fff;
	background: rgba(255,255,255,0.2);
	outline: none;
	border-radius: 10px;
}

#auto i{
	margin-left: 8px;
}


